body {
    font-family: Montserrat extrabold;
    margin: 0;
    background-image: url('Inicio/Inicio imagenes/Fondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  a {
    text-decoration: none;
    color: white;
  }
  
  
  header {
    background-color: #FFED00;
      background-size: cover;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1;
      box-shadow: 0 2px 20px rgb(0, 0, 0);
    }
    
    .header-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 150%;
      max-width: 1280px;
      padding: 0 20px;
    }
    
    .logo-container img {
      height: 80px;
      margin-left: -60px;
      margin-top: 10px;
    }
    
    
    .button-container {
      display: flex;
      align-items: center;
      margin-right: -60px;
    }
    
    .primary-button {
      background-color: #E30613;
      font-family: Josefin Sans;
      font-weight: bold;
      color: #ffffff;
      border: none;
      border-radius: 2px;
      padding: 8px 12px;
      margin-left: 10px;
      cursor: pointer;
      font-size: 18px;
    }
    
    .secondary-button {
      background-color: #ffffff;
      color: #E30613;
      border: 1px solid #E30613;
      border-radius: 2px;
      padding: 8px 12px;
      margin-left: 10px;
      cursor: pointer;
      font-size: 16px;
      font-family: josefin sans;
      font-weight: bold;
    }
  
  
  .dicken {
    font-size: 70px
  }
  .proporción {
      font-size: 26px; font-family: Montserrat regular; margin-top: -45px;
  }
  
  
  #hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 740px;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0)
    )
    ,url("Logos/Logos imagenes/Banners.jpg");
    background-repeat: no-repeat;
    background-size: 110%;
    background-position: center center;
    margin-bottom: 20px;
  }
  
  .seccion-con-imagen {
    background-image: url("Logos/Logos imagenes/Patron.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 110px;
    width: 100%; 
    margin-top: -20px;
  }
  



.colombia {
    border-radius: 50%;
  }
  
  .info-section {
    display: flex;
    justify-content: center;
  }
  
  .info-block {
    max-width: 600px;
    padding: 80px;
    text-align: center;
    background-color: #00983A;
    border-radius: 10px;
    margin: 10px 20px; 
    margin-top: 50px;
  }
  
  .info-block img {
    width: 100%;
    border-radius: 5px;
  }
  
  .info-block h1 {
    font-size: 36px;
    margin-top: 1.5cm;
    color: white;  
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .info-block h2 {
    font-size: 18px;
    margin-top: 10px;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: white;
    text-align: left;
  }
  
  .info-block p {
    margin-top: 10px;
    text-align: left;
    line-height: 1.4;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 30px;
    font-family: montserrat;
    color: white;
    text-align: left;
  }
  
  .info-block br {
    display: block;
    margin-top: 10px;
  }
  

  .walk {
    background-color: #E30613;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    max-width: 600px;
    margin: 3cm auto 0; 
  }
  
  
  .walk h1 {
    font-size: 36px;
    margin-top: 1.5cm;
    color: white;  
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .walk h2 {
    font-size: 18px;
    margin-top: 10px;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: white;
    text-align: left;
  }
  
  .walk p {
    margin-top: 10px;
    text-align: left;
    line-height: 1.4;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 30px;
    font-family: montserrat;
    color: white;
  }
  


  .seccion-con-imagen {
    background-image: url("Logos/Logos imagenes/Patron.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 110px;
    width: 100%; 
    margin-top: -20px;
  }
  



  .importancia {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 5cm;
    background-color: white;
    flex: 1;
    margin-top: -1.4cm;
    height: 20cm;
    margin-top: 50px;
  }
  
  .textoimportante {
    flex: 1;
    margin-left: 15px;
  }
  
  h1, h2, p {
    text-align: left;
    margin: 0;
    margin-top: 15px;
  }
  
  .here {
    margin-top: 1.5cm;
    color: black;  
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;

  }
  
  .she {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: black;
    text-align: left;
  }
  .comes {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 30px;
    font-family: montserrat;
    color: black;
    text-align: left;
  }
  
  .image-container {
    width: 40%;
    display: flex;
    justify-content: flex-end;
  }
  
  .image-container img {
    max-width: 100%;
    height: auto;
    margin-right: -1.5cm;
    border-radius: 20px;
    margin-top: 2cm;
  }

  .seccion-con-imagen1 {
    background-image: url("Logos/Logos imagenes/Patron.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 110px;
    width: 100%; 
    margin-top: 3cm;
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  main {
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .hola2 {
    width: calc(80% / 3 - 20px);
    margin: 50px;
    margin-top: 2cm;
    background-color: white;
    padding: 20px;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  
  .hola {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    margin-top: 10px;
  }

  .secu{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: black;
    text-align: left;
    margin-top: 50px;
  }
  
  .hola3 {
    margin-top: 20px;
  }
  .texto {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 30px;
    margin-top: -5px;
    font-family: montserrat;
    color: black;
    text-align: left;
  }
  
  .hola img {
    margin-bottom: 10px;
  }
  

  .seccion-con-imagen2 {
    background-image: url("Logos/Logos imagenes/Patron.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 110px;
    width: 100%; 
    margin-top: 1cm;
  }

.here2 {
  margin-top: 1.5cm;
  color: black;  
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 5cm;
}

.here3 {
  margin-top: 1.5cm;
  color: black;  
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 5cm;
}